{% extends 'base.html' %}
<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>
{% block content %}
    <ul>
        <li>
            <a href="{% url 'model_form_upload' %}">.sql file to anonymize</a>
        </li>
    </ul>
    <p>Uploaded files:</p>
    <ul>
        {% for obj in documents %}
            <li>
                <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
                <form action="{% url 'display_file' obj.id %}" method="post">
                    <button type='submit'>Anonymise data</button>
                </form>
                <form action="{% url 'generate_file' obj.id %}" method="post">
                    <input type="number" name="number_line" min="1">
                    <button type='submit'>Generate data</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <h>Destroy all files</h>
    <form action='destroy_file' method='get'>
        <button type='submit'>DESTROY/!\</button>
    </form>
{% endblock %}
