<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <link href="{% static 'core/button.css' %}" rel="stylesheet">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
    <link href="https://www.w3schools.com/lib/w3-colors-metro.css" rel="stylesheet">
    <link href="https://www.w3schools.com/lib/w3-colors-flat.css" rel="stylesheet">
    <title>Upload File</title>
</head>
{% block content %}
{% load get_items %}
{% load addstr %}
<body class="w3-metro-darken">
<div class="w3-row">
    <div class="w3-container" style="background-color:#30619B;height:2%"></div>
    <div class="w3-center w3-container" style="color:#fff;background-color:#30619B">
        <img alt="Awesome logo" src="{% static 'core/images/logo.png' %}" style="width:8%;position:center"/>
        <form action="{% url 'home' %}">
            <button class="my_button"><h1>Anonymisation Tool</h1></button>
        </form>
    </div>
</div>
<div class="w3-row">
    <div class="w3-container w3-col" style="height:5%"></div>
    <div class="w3-container w3-col" style="width:10%"></div>
    <div class="w3-container w3-col w3-padding-large" style="width:80%;color:#fff;background-color:#282828;">
        <h2 class="w3-center" style="background-color:#30619B">SQL file Uploader</h2>
        <div class="w3-row">
            <div class="w3-container w3-col" style="width:40%"></div>
            <form enctype="multipart/form-data" method="post">
                <div class="w3-container w3-col" style="width:40%">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <button class="w3-button w3-block w3-metro-darken" type="submit">Upload</button>
            </form>
        </div>
        <ul class="w3-ul">
            <li></li>
            <li></li>
        </ul>
        <form action="{% url 'home' %}">
            <button class="w3-button w3-block w3-metro-darken">Home</button>
        </form>
    </div>
</div>
</body>
{% endblock %}
